<div class="list">

	<div id="header_constant" class="item bar bar-header bar-calm">
	  <h1 class="title">fuber</h1>
	</div>

  <label class="item item-input">
    <span class="input-label">Email</span>
    <input type="text" ng-model="account.email">
  </label>

  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password" ng-model="account.password">
  </label>

</div>

<div>
	<label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text" ng-model="user.username">
  </label>
</div>

<div class="bar bar-footer bar-calm">
	<div class="title">
		Dish Mode
	</div>
  <label class="toggle toggle-assertive">
  <input id="truck_switch" type="checkbox" ng-model="user.is_truck" ng-true-value="true" ng-false-value="false">
  <div class="track">
    <div class="handle"></div>
	</div>
</div>

<div class="center bar bar">
	<button class="button button-calm login_btn" ng-click="login()">
	  Login
	</button>

	<button class="button button-calm login_btn" ng-click="register()">
	  Register
	</button>
</div>
